<body class="d-flex">
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-8">
          <h2 class="modal-title fw-bold edit-modal-title" id="editModalLabel">
            Edit Admin
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" class="form">
            <div class="wrap border-bottom mb-6">
              <h3 class="thr-title fw-bold mb-4">Account</h3>
              <label for="name" class="mb-1 font-sz14">Name</label>
              <input
                type="text"
                id="name"
                value="Emir Wicks"
                class="bg-main d-block mb-4 p-4 border-0 txt-input"
                readonly
              />
              <label for="email" class="mb-1 font-sz14">Email</label>
              <input
                type="email"
                id="email"
                value="emir.wicks@mail.com"
                class="bg-main d-block mb-6 p-4 border-0 txt-input"
                readonly
              />
            </div>
            <div class="wrap border-bottom mb-6">
              <h3 class="thr-title fw-bold mb-4 verification">Verification</h3>
              <div class="verified-wrap d-flex justify-content-between mb-4">
                <p class="confirm fw-bold">
                  <span class="material-icons icon-color mr-2">
                    check_circle </span
                  >Verified
                </p>
                <p class="date font-sz14">2020/4/12</p>
              </div>
              <div class="send-mail border p-4 mb-6 text-center">
                Send Verification Mail
              </div>
            </div>
            <div class="wrap border-bottom mb-6">
              <h3 class="thr-title fw-bold mb-4">Access Level</h3>
              <div
                class="select d-flex justify-content-between mb-6 p-4 border border-dark"
              >
                <p class="option">Admin</p>
                <div class="icon-wrap">
                  <span class="material-icons"> expand_more </span>
                </div>
              </div>
            </div>
            <div class="wrap border-bottom mb-6">
              <h3 class="thr-title fw-bold mb-4">Custom Access</h3>
              <input
                type="checkbox"
                name="access"
                value="lecture"
                class="d-lock mb-4 mr-2"
              />
              Lecture <br />
              <input
                type="checkbox"
                name="access"
                value="coupon"
                class="d-lock mb-4 mr-2"
              />
              Coupon <br />
              <input
                type="checkbox"
                name="access"
                value="message"
                class="d-lock mb-4 mr-2"
              />
              Message <br />
              <input
                type="checkbox"
                name="access"
                value="setting"
                class="d-lock mb-4 mr-2"
              />
              Setting <br />
              <input
                type="checkbox"
                name="access"
                value="task-menu"
                class="d-lock mb-4 mr-2"
              />
              Task-Menu <br />
            </div>
            <h3 class="thr-title fw-bold mb-4">Deactive Account</h3>
            <p class="alert mb-4 text-danger">
              <span class="material-icons"> warning </span>
              This cannot be undone
            </p>
            <div
              class="deactivate fw-bold mb-4 border border-danger text-center p-4"
            >
              Deactivate This Account
            </div>
          </form>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-secondary bg-white border-success text-success fw-bold"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-success fw-bold">Update</button>
        </div>
      </div>
    </div>
  </div>
</body>
