.header {
  background: $main;
  width: 23%;
  padding: 40px 0 32px;
  .logo-img{
      margin-left: 28px;
  }
  .list {
    .list-item {
      margin-bottom: 29px;
    }
    .material-icons {
      margin-right: 16px;
      font-size: 20px;
    }
    .link {
      padding-left: 32px;
    }
  }
  .account{
    margin-left: 32px;
    .person-img{
      margin-right: 16px;
    }
    .txt{
      font-size: 14px;
      line-height: 17px;
    }
  }
}

