.container {
  max-width: 984px;
  margin: 0 auto;
  --bs-gutter-x: 0;
  padding: 0 32px;
}

.material-icons {
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    color: $highlight;
  }
}

.bg-main {
  background: $main;
}

.font-yellow {
  color: rgb(204, 151, 7);
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
}

.txt {
  color: $light-font;
  @include font-sm;
}

.account {
  .person-img {
    margin-right: 8px;
  }
}

.link:hover {
  cursor: pointer;
  color: $highlight;
}

.icon-color {
  color: $highlight;
}

.font-sz14 {
  font-size: 14px;
  line-height: 17px;
}

.txt-light-font {
  color: $light-font;
}

.active {
  color: $highlight;
  border-left: 4px solid $highlight;
  padding-left: 28px;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-2 {
  margin-bottom: 8px !important;
}
.mb-3 {
  margin-bottom: 12px !important;
}
.mb-4 {
  margin-bottom: 16px !important;
}
.mb-6 {
  margin-bottom: 24px !important;
}
.mb-8 {
  margin-bottom: 32px !important;
}
.mb-9 {
  margin-bottom: 36px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px !important;
}
.mr-4 {
  margin-right: 16px !important;
}
.mr-6 {
  margin-right: 24px !important;
}
.mr-8 {
  margin-right: 32px !important;
}

.pb-22 {
  padding-bottom: 22px !important;
}
.p-4 {
  padding: 16px;
}
